.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
}

button[type='submit'] {
    background-color: #908d8c;
    color: white;
}

button[type='submit']:hover {
    background-color: #7f7b7a;
}

.mb-7 {
    margin-bottom: 3.5rem;
}