{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% include 'common/link.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
{% include 'common/nav.html' %}

<div class="container mt-5">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <img src="{{ book.picture_url }}" class="img-fluid rounded" alt="Book Image"
                         style="max-width: 100%; max-height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h5 class="card-title text-center">{{ book.title }}</h5>
                    <p class="text-center mb-2">
                        <small>
                            <a href="{% url 'author-details' book.author.id %}"
                               class="text-primary text-decoration-underline">
                                {{ book.author.get_full_name }}
                            </a>
                        </small>
                    </p>
                    <p class="card-text text-center">{{ book.description }}</p>
                </div>
            </div>
        </div>
    </div>


    {% if user.is_authenticated %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Update Your Status For {{ book.title }}</h5>
                <form id="update-status-form" method="POST" action="{% url 'book-status' book.id %}" class="d-flex flex-column align-items-center">
                    {% csrf_token %}
                    <div class="text-center form-group w-100 mb-3">
                    <button type="submit" class="btn btn-secondary w-20">Save Status</button>
                        <label for="statusSelect" class="form-label">Select a Status:</label>
                        <select id="statusSelect" name="status" class="form-select">
                            {% for choice_value, choice_label in status_choices %}
                                <option value="{{ choice_value }}"
                                        {% if current_status == choice_value %}selected{% endif %}>
                                    {{ choice_label }}
                                </option>
                            {% endfor %}
                        </select>
                        {% if request.user == book.user %}
                            <a href="{% url 'edit-book' book.id %}" class="btn btn-secondary">Edit</a>
                            <a href="{% url 'delete-book' book.id %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
</div>


{% include 'common/footer.html' %}
</body>
</html>
